spring:
  mail:
    # Google smtp server 사용
    host: smtp.gmail.com
    port: 587
    username: windy7271@knou.ac.kr #앱 비밀번호 발급받은 google 계정
    password: ${{ secrets.GOOGLE_PASSWORD }} #발급받은 앱 비밀번호
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
