.apexcharts-tooltip {
  &.apexcharts-theme-light {
    background-color: rgb(var(--v-theme-containerBg));
    border: 1px solid rgb(var(--v-theme-borderlight));
    .apexcharts-tooltip-title {
      background: rgb(var(--v-theme-surface));
      border-bottom: 1px solid rgb(var(--v-theme-borderlight));
    }
  }
}

.apexcharts-menu {
  background-color: rgb(var(--v-theme-containerBg));
  border: 1px solid rgb(var(--v-theme-borderlight));
}

.apexcharts-theme-light {
  .apexcharts-menu-item {
    &:hover {
      background: rgb(var(--v-theme-surface));
    }
  }
}

.apexcharts-xaxistooltip, .apexcharts-yaxistooltip {
  background: rgb(var(--v-theme-containerBg));
  border: 1px solid rgb(var(--v-theme-borderlight));
  color: rgb(var(--v-theme-darkText));
}

.apexcharts-xaxistooltip-bottom {
  &::before, &::after {
    border-bottom-color: rgb(var(--v-theme-containerBg));
  }
}

.v-overlay__scrim {
  background: rgb(var(--v-theme-lightText));
  opacity: 0.1;
}